{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block main %}
<div class="d-flex justify-content-center align-items-center min-vh-100">
  <div class="card border-primary dark-container" style="max-width: 30rem; width: 100%;">
    <div class="card-header text-center">Log in</div>
    <div class="card-body">
      <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="form-control btn btn-primary mt-3">LOG IN</button>
      </form>
    </div>
    <div class="card-footer">
      <p class="mb-0">
        Need an account? <a href="{% url 'account_signup' %}">Register</a>.<br>
        Lost your password? <a href="{% url 'password_reset' %}">Reset it</a>.
      </p>
    </div>
  </div>
</div>
{% endblock %}
