{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}Log in{% endblock %}

{% block main %}
<div class="card border-primary m-auto mb-3" style="max-width: 30rem;">
  <div class="card-header text-center">Log in</div>
  <div class="card-body">
    <form method="post" class="m-auto">
      {% csrf_token %}
      
      <div class="form-group">
        <label for="id_username">Username</label>
        <input type="text" name="username" class="form-control" id="id_username" value="{{ form.username.value }}" required>
      </div>

      <div class="form-group" id="show_hide_password">
        <label for="id_password">Password</label>
        <div class="input-group">
          <input type="password" name="password" class="form-control" id="id_password" required>
          <div class="input-group-addon">
            <i class="fa fa-eye" aria-hidden="true" style="position: absolute; top:15px; left:445px"></i>
          </div>
        </div>
      </div>

      <!-- Remember Me checkbox -->
      <div class="form-check">
        {{ form.remember|crispy }}
      </div>

      <button type="submit" class="form-control btn btn-primary mt-3">LOG IN</button>
    </form>
  </div>
  <div class="card-footer text-center">
    <p>
      Need an account? <a href="{% url 'account_signup' %}">Register</a><br>
      Lost your password? <a href="{% url 'account_reset_password' %}">Reset it</a>.
    </p>
  </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="https://play2learn-bucket.s3.us-east-2.amazonaws.com/django_password_eye/js/django_password_eye.js" defer></script>
{% endblock %}
