{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}My Account{% endblock title %}

{% block main %}

<div class="container">
  <div class="row">
    <div class="col h-100 d-flex align-items-center justify-content-center">
      {% if user.avatar %}
      <img src="{{ user.avatar.url }}" alt="Avatar" class="img-fluid mt-3">
      <form method="POST" action="{% url 'clear_avatar' %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger mt-2">Clear Avatar</button>
      </form>
    {% else %}
      <p>No avatar set.</p>
    {% endif %}
    <div class="card border-primary m-auto mb-3" style="max-width: 30rem">
      <div class="card-header text-center">Game Scores</div>
      <div class="card-body text-center">
  
        <h4>Anagram Hunt:</h4>
        {% if anagramhunt_newest %}
        <strong>Latest Score: </strong> <p class="badge bg-primary rounded-pill mt-2 mt-md-0">{{ anagramhunt_newest.score }}</p>
        <br>
        <strong>Highest Score: </strong> <p class="badge bg-primary rounded-pill mt-2 mt-md-0">{{ anagramhunt_highest.score }}</p>
        {% else %}
        <p>None yet.</p>
        {% endif %}
  
        <h4>Math Facts:</h4>
        {% if mathfacts_newest %}
        <strong>Latest Score: </strong> <p class="badge bg-primary rounded-pill mt-2 mt-md-0">{{mathfacts_newest.score}}</p>
        <br>
        <strong>Highest Score:</strong> <p class="badge bg-primary rounded-pill mt-2 mt-md-0">{{ mathfacts_highest.score }}</p>
        {% else %}
        <p>None yet.</p>
        {% endif %}
      </div>
    </div>
    <div class="card border-primary m-auto mb-3" style="max-width: 30rem">
      <div class="card-header text-center">Update Profile</div>
      <div class="card-body">
        <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form|crispy }}
      <button type="submit" class="form-control btn btn-primary submit">UPDATE PROFILE</button>
    </form>
  </div>
</div>
</div>
</div>
</div>
{% endblock %}
