{% extends "_base.html" %}

{% block title %}My Scores{% endblock %}

{% block main %}

<h2>My Scores</h2>

<table class="table table-striped text-center">
    <thead>
        <tr>
        <th>Date</th>
        <th>Score</th>
        <th>Operation</th>
        <th>Time</th>
        <th>Max Number</th>
        </tr>
    </thead>
    <tbody>
        {% if mathfacts_userscores %}
      <tr>
        <td class="h3">

        <td>{{ mathfacts_userscore.date_added|date:"M d Y h:ia" }}</td>
        <td>{{ score.score }}</td>
        <td>{{ score.operation }}</td>
        <td>{{ score.time_left.total_seconds|floatformat:0 }}</td>
        <td>{{ score.max_number }}</td>
          </td>
          {% else %}
           <tr>
        <td colspan="7">No scores yet.</td>
      </tr>
          </tr>
          {% endif %}
    </tbody>
</table>

{% endblock %}