{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}My Play2Learn{% endblock title %}

  <div class="container py-4">
    <h1>My Play2Learn</h1>

    <h2>Anagram Hunt</h2>
    <p><strong>Highest Score:</strong> {{ anagramhunt_highest.score }}</p>
    <p><strong>Most Recent Score:</strong> {{ anagramhunt_newest.score }}</p>

    <h2>Math Facts</h2>
    <p><strong>Highest Score:</strong> {{ mathfacts_highest.score }}</p>
    <p><strong>Most Recent Score:</strong> {{ mathfacts_newest.score }}</p>
  </div>

{% endblock %}
