{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Register{% endblock %}

{% block main %}
<div class="dark-container card border-primary m-auto mb-3" style="max-width: 30rem">
  <div class="card-header text-center">Register</div>
  <div class="card-body">
    <form method="post" class="m-auto mb-2">
      {% csrf_token %}
      {{ form.as_p }}
      <button class="form-control btn btn-primary">REGISTER</button>
    </form>
  </div>
  <div class="card-footer">
    Already have an account? <a href="{% url 'account_login' %}">Log in</a>
  </div>
</div>

{% endblock %}

{% block extra_js %}
<script>

  /** this script is for a viewable password field
   * I had it in my 2nd project and I wanted to 
   * add it again 
  */

  document.addEventListener('DOMContentLoaded', function () {
    const userPswrd = document.querySelector('input[type="password"]');
    if (userPswrd) {
      const storagePswrd = document.createElement('div');
      storagePswrd.style.position = 'relative';
  
      const eyePswrd = document.createElement('i');
      eyePswrd.setAttribute('title', 'Show/Hide Password');
      eyePswrd.classList.add('fa', 'fa-eye', 'password-toggle-icon');
      
      Object.assign(eyePswrd.style,{
        position: 'absolute',
        right: '10px',
        top:'50%',
        transform: 'translateY(-50%)',
        cursor: 'pointer',
      })
      userPswrd.parentNode.insertBefore(storagePswrd, userPswrd);
      storagePswrd.appendChild(userPswrd);
      storagePswrd.appendChild(eyePswrd);
  
      eyePswrd.addEventListener('click', function () {
        const isHidden = userPswrd.type === 'password';
        userPswrd.type = isHidden ? 'text' : 'password';
        eyePswrd.classList.toggle('fa-eye-slash', isHidden);
        eyePswrd.classList.toggle('fa-eye', !isHidden);
      });
    }
  });
  </script>
  
{% endblock %}
