{% extends '_base.html' %}

{% block title %}{% block vue_title %}Vue Game{% endblock %}{% endblock %}

{% block head_extra %}
    <!-- Only Vue stuff -->
    {% if debug %}
        <script defer src="http://localhost:8080/js/chunk-vendors.js"></script>
        <script defer src="http://localhost:8080/js/app.js"></script>
    {% else %}
        <script defer src="https://play2learn-bucket.s3.amazonaws.com/vue-games/math-facts/js/chunk-vendors.fe524f45.js"></script>
        <script defer src="https://play2learn-bucket.s3.amazonaws.com/vue-games/math-facts/js/mathfacts.1fb5c893.js"></script>
        <link href="https://play2learn-bucket.s3.amazonaws.com/vue-games/math-facts/css/mathfacts.d9d5b537.css" rel="stylesheet">
    {% endif %}
{% endblock %}

{% block content %}
    <div id="app"></div>  <!-- Vue will mount here -->
{% endblock %}

{% block scripts_extra %}
    <!-- Bootstrap or other extra scripts if needed -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
{% endblock %}
