{% extends "_base_vue.html" %}

{% block title %}Anagram Hunt{% endblock %}

{% block main %}
  <h1 class="text-center glitch-edit">Anagram Hunt</h1>
  <br>
  <div id="app"></div>
{% endblock %}

{% block extra_css %}
  <link href="https://play2learn-bucket.s3.us-east-2.amazonaws.com/vue-games/anagram-hunt/css/app.css" rel="stylesheet">
{% endblock %}

{% block extra_js %}
  <script src="https://play2learn-bucket.s3.us-east-2.amazonaws.com/vue-games/anagram-hunt/js/chunk-vendors.js"></script>
  <script src="https://play2learn-bucket.s3.us-east-2.amazonaws.com/vue-games/anagram-hunt/js/app.js"></script>

  <script>
    window.addEventListener('load', () => {
      if (window.vueApp && typeof window.vueApp.mount === 'function') {
        window.vueApp.mount('#app');
      }
    });
  </script>
{% endblock %}
