{% extends "_base_vue.html" %}
{% load static %}

{% block title %}Anagram Hunt | Play2Learn{% endblock %}

{% block extra_css %}
  <link href="{% static 'vue-games/anagram-hunt/css/app.css' %}" rel="stylesheet">
{% endblock %}

{% block main %}
  <h1 class="text-center glitch-edit">Anagram Hunt</h1>
  <div id="app"></div>
{% endblock %}

{% block extra_js %}
  <script src="{% static 'vue-games/anagram-hunt/js/chunk-vendors.js' %}"></script>
  <script src="{% static 'vue-games/anagram-hunt/js/app.js' %}"></script>
{% endblock %}
