{% extends "_base_vue.html" %}
{% load static %}

{% block title %}Math Facts{% endblock %}

{% block content %}

{% block main %}

  <h1 class="text-center glitch-stable">Math Facts</h1>
  <div style="text-align: center;">
    <img src="https://play2learn-bucket.s3.us-east-2.amazonaws.com/media/public/art/mathfacts-art.png" style="width: 15%; height: 15%; border-radius: 8px;">
  </div>
  <br>
  <div id="app"></div>

  <link href="{% static 'vue-games/math-facts/css/app.css' %}" rel="stylesheet">
  <script src="{% static 'vue-games/math-facts/js/chunk-vendors.js' %}"></script>
  <script src="{% static 'vue-games/math-facts/js/app.js' %}"></script>

{% endblock %}
{% endblock %}
