{% extends "_base_vue.html" %}

{% block title %}Math Facts{% endblock %}

{% block main %}
  <h1 class="text-center glitch-edit">Math Facts</h1>
  <br>
  <div id="app"></div>
{% endblock %}

{% block extra_css %}
  <link href="https://play2learn-bucket.s3.us-east-2.amazonaws.com/vue-games/math-facts/css/app.css" rel="stylesheet">
{% endblock %}

{% block extra_js %}
  <script src="https://play2learn-bucket.s3.us-east-2.amazonaws.com/vue-games/math-facts/js/chunk-vendors.js"></script>
  <script src="https://play2learn-bucket.s3.us-east-2.amazonaws.com/vue-games/math-facts/js/app.js"></script>

  <script>
    window.addEventListener('load', () => {
      console.log("Trying to mount vueApp:", window.vueApp);
      if (window.vueApp && typeof window.vueApp.mount === 'function') {
        window.vueApp.mount('#app');
      } else {
        console.error("window.vueApp not defined or missing .mount()", window.vueApp);
      }
    });
  </script>
{% endblock %}