asgiref==3.8.1
boto3==1.38.30
botocore==1.38.30
colorama==0.4.6
common-utils==2.0.1.dev1
crispy-bootstrap5==2025.4
dj-database-url==2.3.0
Django==5.2.1
django-allauth==65.7.0
django-cors-headers==4.7.0
django-crispy-forms==2.3
django-debug-toolbar==5.1.0
django-extensions==4.0
django-password-eye==1.0.3
django-storages==1.14.6
django-widget-tweaks==1.5.0
docutils==0.19
gunicorn==23.0.0
jmespath==1.0.1
packaging==25.0
pillow==11.1.0
psycopg2-binary==2.9.10
pyasn1==0.6.1
python-dateutil==2.9.0.post0
python-http-client==3.3.7
PyYAML==6.0.2
rsa==4.7.2
s3transfer==0.13.0
sendgrid==6.11.0
six==1.17.0
sqlparse==0.5.3
starkbank-ecdsa==2.2.0
typing_extensions==4.13.2
urllib3==2.4.0
watchdog==6.0.0
