asgiref==3.8.1
boto3==1.37.30
botocore==1.37.30
crispy-bootstrap5==2025.4
Django==5.2
django-allauth==65.7.0
django-crispy-forms==2.3
django-extensions==4.0
django-storages==1.14.6
jmespath==1.0.1
psycopg2-binary==2.9.10
python-dateutil==2.9.0.post0
s3transfer==0.11.4
six==1.17.0
sqlparse==0.5.3
urllib3==2.3.0
