{% extends "_base.html" %}

{% block title %}Home{% endblock %}

{% block homepage_carousel %}
<div id="carouselExampleDark" class="carousel carousel-dark slide carousel-darkblue" data-bs-ride="carousel">
  <div class="carousel-indicators">
    {% for review in random_reviews %}
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="{{ forloop.counter0 }}"
        class="{% if forloop.first %}active{% endif %}" aria-current="{% if forloop.first %}true{% endif %}"
        aria-label="Slide {{ forloop.counter }}"></button>
    {% endfor %}
  </div>

  <div class="carousel-inner carousel-darkblue">
    {% for review in random_reviews %}
      <div class="carousel-item {% if forloop.first %}active{% endif %}">
        <blockquote class="blockquote text-center p-4">
          <p class="mb-0 review-text">{{ review.review|linebreaksbr|truncatechars:200 }}</p>
          <footer class="blockquote-footer mt-2 d-flex align-items-center justify-content-center" style="white-space: nowrap;">
            {% if review.user.avatar %}
            <img src="{{ review.user.avatar.url }}" alt="{{ review.user.username }}'s avatar" style="width: 30px; height: 30px; border-radius: 50%; object-fit: cover; margin-right: 8px;">
            {% endif %}
            <span class="info">{{ review.user.username }} ({{ review.get_game_display }})</span>
          </footer>
        </blockquote>
      </div>
    {% endfor %}
  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
{% endblock %}
{% block main %}
<br>
  <h2 class="text-center glitch-edit">Welcome to Play2Learn!</h2>
{% endblock %}

{% block homepage_features %}
<div class="container">
  <div class="row g-3 py-5 row-cols-1 row-cols-lg-3">
    
    <div class="col">
      <div class="feature text-center">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3 rounded-circle" style="width: 4rem; height: 4rem;">
          <i class="bi bi-calculator" data-icon="calculator"></i>
        </div>
        <h3 class="fs-2 text-body-emphasis">Games</h3>
        <p>On Play2Learn there are two games for you to play, titled MathFacts 
          and AnagramHunt! To get started, either login to your account or 
          sign up with your email. You must have an account to play the games. 
          If you don't have an account, <a href="{% url 'signup' %}">create one here.</a></p>
      </div>
    </div>

    <div class="col">
      <div class="feature text-center">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3 rounded-circle" style="width: 4rem; height: 4rem;">
          <i class="bi bi-chat-right-quote" data-icon="quote"></i>
        </div>
        <h3 class="fs-2 text-body-emphasis">Reviews</h3>
        <p>After playing a game, you are offered to wite a review! You can can only write 
          a review after playing a game while logged in. Your most recent review can see
          viewed in your profile.
        </p>
      </div>
    </div>
    
    <div class="col">
      <div class="feature text-center">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3 rounded-circle" style="width: 4rem; height: 4rem;">
          <i class="bi bi-award" data-icon="award"></i>
        </div>
        <h3 class="fs-2 text-body-emphasis">Scoreboards</h3>
        <p> After playing a game, your score will be added to your personal scoreboard! You can also
          see if your score was high enough to land a place in the all-user leaderboard. Your personal
          highest and most recent scores for both games will be visible in your profile. </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block scripts %}
  {{ block.super }}
{% endblock %}