/* font that kind of looks like video game or arcade look */
.glitch-edit {
  font-family: 'Press Start 2P', cursive;
  color: #000;
  position: relative;
  text-shadow: 2px 0 #00ff11, -2px 0 #000;
  animation: glitch-anim 1s infinite;
}

@keyframes glitch-anim {
  0% {
    text-shadow: 2px 0 #00ff11, -2px 0 #000;
  }
  50% {
    text-shadow: -2px 0 #000, 2px 0 #000;
  }
  100% {
    text-shadow: 2px 0 #00ff11, -2px 0 #000;
  }
}

/* glitch font non-animated */
.glitch-stable{
    font-family: 'Press Start 2P', cursive;
    color: black;
}

.mathfacts-div {
  margin-bottom: 0.75rem; 
}

.mathfacts-label {
  padding: 0.2rem;
}

.score-badge{
  font-family: 'Press Start 2P', cursive;
  color: #000;
  background-color: #fff200;
}

/* the css for light & dark themes */

/* body light & dark mode  */
body.light-mode {
  background-color: #ebf5ff;
  color: #000;
}

body.dark-mode {
  background-color: #7d9dbd;
  color: #fff;
}

/* glitch animated text dark mode */
body.dark-mode .glitch-edit {
  color: #fff;
  text-shadow: 2px 0 #00ff11, -2px 0 #fff;
}

body.dark-mode .glitch-stable {
  color: #fff;
}

body.dark-mode .score-badge {
  color: #fff;
  background-color: #7e8232;
  box-shadow: 0 2px 4px #0000004d;
}

body.dark-mode .dark-container {
  background-color: #545454;
  color: #e7e7e7;
}


body.dark-mode .dark-nav {
  background-color: #4c6278;
  color: #fff;
}

body.dark-mode .dark-nav a {
  color: #daecff;
}

body.light-mode .light-nav {
  background-color: #fbfdff;
  color: #545454;
}

body.light-mode .light-footer{
    background-color: #fbfdff;
    color: #545454;
}

body.dark-mode .dark-footer {
  background-color: #4c6278;
  color: #e7e7e7;
}

body.dark-mode .dark-footer a {
  color: #daecff;
}

body.dark-mode .signup {
  color: #fff;
}

body.dark-mode .dropdown {
  background-color: #4c6278;
}

body.dark-mode .logout{
  color: #daecff;
}

body.dark-mode .text{
  color: #000;
}

.carousel{
  background-color: #ebf5ff;
}

.dark-mode .carousel-dark{
  background-color: #4c6278;
}

.dark-mode .review-text{
  color: #ffffff;
}

.dark-mode .info{
  color: #ececec;
}