.glitch {
  font-family: 'Press Start 2P', cursive;
  color: #ff00ff;
  position: relative;
  text-shadow: 2px 0 #0ff, -2px 0 #ff00ff;
  animation: glitch-anim 1s infinite;
}

@keyframes glitch-anim {
  0% {
    text-shadow: 2px 0 #0ff, -2px 0 #f0f;
  }
  50% {
    text-shadow: -2px 0 #f0f, 2px 0 #f0f;
  }
  100% {
    text-shadow: 2px 0 #0ff, -2px 0 #f0f;
  }
}