{% extends "_base.html" %} 

{% block title %}About Us{% endblock %} 

{% block header %}About Us{% endblock %}

{% block main %}

This project was created based on playing games for a website called Play2Go. You can make
an account, upload profile picture and play different two games; one about math and the other
about anagram hunt. After playing the games you can write a review if you want, but you are   
only able to write one after playing a game. You can also see you most recent & highest scores
in your profile, and all of your scores in the 'my scoreboard'. You can also visit the 
'leaderboard' to see if you have the top 10 scores in either of the games.

{% endblock %}