{% extends "_base.html" %}

{% block title %}My Scores{% endblock %}

{% block main %}

<h1>My Scores</h1>

<table class="table table-striped text-center">
    <h2>Math Facts</h2>
    <thead>
        <tr>
        <th>Date</th>
        <th>Score</th>
        <th>Operation</th>
        <th>Time</th>
        <th>Max Number</th>
        </tr>
    </thead>
    <tbody>
        {% for score in mathfacts_userscores %}
        <tr>
            <td>{{ score.date_added|date:"M d Y h:ia" }}</td>
            <td>{{ score.score }}</td>
            <td>{{ score.operation }}</td>
            <td>{{ score.seconds_left }}</td>
            <td>{{ score.max_number }}</td>
        </tr>
        {% empty %}
    <tr>
        <td colspan="5">Nothing yet.</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<table class="table table-striped text-center">
    <h2>Anagram Hunt</h2>
    <thead>
        <tr>
            <th>Date</th>
            <th>Score</th>
            <th>Word Length</th>
            <th>Time</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            {% for score in anagramhunt_userscores %}
            <td>{{ score.date_added|date:"M d Y h:ia" }}</td>
            <td>{{ score.score }}</td>
            <td>{{ score.word_length }}</td>
            <td>{{ score.seconds_left }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="5">Nothing yet.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}