{% extends "_base.html" %}

{% block title %}My Scores{% endblock %}

{% block main %}

<h2>My Scores</h2>

<table class="table table-striped text-center">
    <thead>
        <tr>
        <th>Date</th>
        <th>Score</th>
        <th>Operation</th>
        <th>Time</th>
        <th>Max Number</th>
        </tr>
    </thead>
    <tbody>
        {% for score in mathfacts_userscores %}
        <tr>
            <td>{{ score.date_added|date:"M d Y h:ia" }}</td>
            <td>{{ score.score }}</td>
            <td>{{ score.operation }}</td>
            <td>{{ score.seconds_left }}</td>
            <td>{{ score.max_number }}</td>
        </tr>
        {% empty %}
    <tr>
        <td colspan="5">Nothing yet.</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}