{% extends "_base.html" %}

{% block title %}ScoreBoard{% endblock %}
{% block main %}
<div class="row">
  <div class="col-12 col-md-2 col-lg-3">
    <h2>Scores</h2>
  </div>
  <h3>Top Math Facts Scores</h3>
<ul>
  {% for score in mathfacts_scores %}
    <li>{{ score.user.username }} - {{ score.score }}</li>
  {% endfor %}
</ul>

<h3>Top Anagram Hunt Scores</h3>
<ul>
  {% for score in anagramhunt_scores %}
    <li>{{ score.user.username }} - {{ score.score }}</li>
  {% endfor %}
</ul>

{% include 'includes/pagination.html' %}
{% endblock %}