{% extends "_base.html" %}
{% load tz %}

{% block title %}LeaderBoards{% endblock %}

{% block main %}

<h2 class="mb-4">Leaderboards</h2>

<div class="text-center">
  <table class="table table-striped text-center">
    <thead>
      <tr>
        <th>Ranking</th>
        <th>Username</th>
        <th>Date</th>
        <th>Score</th>
        <th>Operation</th>
        <th>Time</th>
        <th>Max Number</th>
      </tr>
    </thead>
    <tbody>
      {% for score in mathfacts_scores %}
      <tr>
        <td>
          {% if forloop.counter == 1 %}
            <span class="h1">🥇</span>
          {% elif forloop.counter == 2 %}
            <span class="h1">🥈</span>
          {% elif forloop.counter == 3 %}
            <span class="h1">🥉</span>
          {% else %}
            {{ forloop.counter }}.
          {% endif %}
        </td>
        <td>{{ score.user.username }}</td>
        <td>{{ score.date_added|date:"M d Y h:ia" }}</td>
        <td>{{ score.score }}</td>
        <td>{{ score.operation }}</td>
        <td>{{ score.time_left.total_seconds|floatformat:0 }}</td>
        <td>{{ score.max_number }}</td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="7">No scores yet.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <table class="table table-striped text-center">
    <thead>
      <tr>
        <th>Ranking</th>
        <th>Username</th>
        <th>Date</th>
        <th>Score</th>
        <th>Word Length</th>
        <th>Time</th>
      </tr>
    </thead>
    <tbody>
      {% for score in anagramhunt_scores %}
      <tr>
        <td>
          {% if forloop.counter == 1 %}
            <span class="h1">🥇</span>
          {% elif forloop.counter == 2 %}
            <span class="h1">🥈</span>
          {% elif forloop.counter == 3 %}
            <span class="h1">🥉</span>
          {% else %}
            {{ forloop.counter }}.
          {% endif %}
        </td>
        <td>{{ score.user.username }}</td>
        <td>{{ score.date_added|date:"M d Y h:ia" }}</td>
        <td>{{ score.score }}</td>
        <td>{{ score.word_length }}</td>
        <td>{{ score.time_left.total_seconds|floatformat:0 }}</td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="7">No scores yet.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>


{% endblock %}