{% extends "_base.html" %}

{% load static %}

{% block title %}LeaderBoards{% endblock %}

{% block main %}

<h1 class="mb-4 text-center glitch-edit">Leaderboards</h1>

<div class="text-center">
  <table class="table table-striped text-center">
    <h3 class="glitch-stable">Math Facts</h3>
    <thead>
      <tr>
        <th>Ranking</th>
        <th>User</th>
        <th>Date</th>
        <th>Score</th>
        <th>Operation</th>
        <th>Time</th>
        <th>Max Number</th>
      </tr>
    </thead>
    <tbody>
      {% for score in mathfacts_scores %}
      <tr>
        <td class="h3">
          {% if forloop.counter == 1 %}🥇
          {% elif forloop.counter == 2 %}🥈
          {% elif forloop.counter == 3 %}🥉
          {% else %}
            {{ forloop.counter }}.
          {% endif %}
        </td>
        <td>
          <div class="d-flex align-items-center justify-content-center" style="white-space: nowrap;">
            {% if score.user.avatar %}
            <img src="{{ score.user.avatar.url }}" alt="{{ score.user.username }}'s avatar" style="width: 30px; height: 30px; border-radius: 50%; object-fit: cover; margin-right: 8px;">
            {% endif %}
            <span>{{ score.user.username }}</span>
          </div>
        </td>
        <td>{{ score.date_added|date:"M d Y h:ia" }}</td>
        <td>{{ score.score }}</td>
        <td>{{ score.operation }}</td>
        <td>{{ score.time_left.total_seconds|floatformat:0 }}</td>
        <td>{{ score.max_number }}</td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="7">No scores yet.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
<br>
  <table class="table table-striped text-center">
    <h3 class="glitch-stable">Anagram Hunt</h3>
    <thead>
      <tr>
        <th>Ranking</th>
        <th>Username</th>
        <th>Date</th>
        <th>Score</th>
        <th>Word Length</th>
        <th>Time</th>
      </tr>
    </thead>
    <tbody>
      {% for score in anagramhunt_scores %}
      <tr>
        <td class="h3">
          {% if forloop.counter == 1 %}🥇
          {% elif forloop.counter == 2 %}🥈
          {% elif forloop.counter == 3 %}🥉
          {% else %}
            {{ forloop.counter }}.
          {% endif %}
        </td>
        <td>
          <div class="d-flex align-items-center justify-content-center" style="white-space: nowrap;">
            {% if score.user.avatar %}
            <img src="{{ score.user.avatar.url }}" alt="{{ score.user.username }}'s avatar" style="width: 30px; height: 30px; border-radius: 50%; object-fit: cover; margin-right: 8px;">
            {% endif %}
            <span>{{ score.user.username }}</span>
          </div>
        </td>
        <td>{{ score.date_added|date:"M d Y h:ia" }}</td>
        <td>{{ score.score }}</td>
        <td>{{ score.word_length }}</td>
        <td>{{ score.time_left.total_seconds|floatformat:0 }}</td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="7">No scores yet.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}