{% extends "_base.html" %}

{% block title %}LeaderBoards{% endblock %}

{% block main %}

<h2 class="mb-4">Leaderboards</h2>

<div class="container text-center">
  <div class="row">
    <div class="col h-100 d-flex align-items-center justify-content-center">
      <div class="col-md-10">
        <h3>Math Facts</h3>
        <ul class="list-group overflow-auto" style="max-height: 500px;">
          {% for score in mathfacts_scores %}
          <li class="list-group-item">
            <div class="d-flex flex-column flex-sm-row justify-content-between align-items-md-center">
              <div class="text-start" style="font-size:larger;">
                <strong>
                  {% if forloop.counter == 1 %}🥇{% elif forloop.counter == 2 %}🥈{% elif forloop.counter == 3 %}🥉{% else %}{{ forloop.counter }}.{% endif %}
                </strong>
                {{ score.user.username }}<br>
                <small class="text-muted">{{ score.date_added|date:"M d Y h:ia" }}</small>
              </div>
              <h4><span class="badge bg-primary rounded-pill mt-2 mt-md-0">{{ score.score }}</span></h4>
              <p> Operation: {{ score.operation }} </p>
              <p> Time Left: {{score.seconds_left}} seconds</p>
              <p> Max Number: {{ score.max_number }}</p>
            </div>
          </li>
          {% empty %}
          <li class="list-group-item">No scores yet.</li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="col h-100 d-flex align-items-center justify-content-center">
      <div class="col-md-6">
        <h3>Anagram Hunt</h3>
        <ul class="list-group">
          {% for score in anagramhunt_scores %}
          <li class="list-group-item">
            <div class="d-flex flex-column flex-sm-row justify-content-between align-items-md-center">
              <div class="text-start" style="font-size:large;">
                <strong>
                  {% if forloop.counter == 1 %}🥇{% elif forloop.counter == 2 %}🥈{% elif forloop.counter == 3 %}🥉{% else %}{{ forloop.counter }}.{% endif %}
                </strong>
                {{ score.user.username }}<br>
                <small class="text-muted">{{ score.date_added|date:"M d Y h:ia" }}</small>
              </div>
              <h4><span class="badge bg-primary rounded-pill mt-2 mt-md-0">{{ score.score }}</span></h4>
            </div>
          </li>
          {% empty %}
          <li class="list-group-item">No scores yet.</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
 </div>

{% endblock %}